@use "mixins";


@font-face {
    font-family:Grotesk ;
    src: url(font/DTGetaiGroteskDisplay-Black.otf);
}

$font-title:Grotesk;
$font-para:avenir;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/*ANIMATION*/
@keyframes burgerMenu {
    0%{
        transform: translateY(100px);
    }100%{
        transform: translateY(-100px);
    }
}

@keyframes crossburger {
    100%{
        
        transform:   rotateZ(45deg);
        
        
       
    }
  
    
}

@keyframes crossburgertwo {
    100%{
      
        opacity: 0;
        
    }
    
}

@keyframes crossburgerthree {
    100%{

      transform: translateY(-21px) rotate(-45deg);
      
        
    }
    
}

/*NAV */


    // CLASSE AJOUTER EN JS
    .transition-menu{
        @include mixins.displayFlex(column,flex-start,center,40px);
        height: 30vh;
        transition: ease-in 0.5s;
    }
    .menu-responsive{
        display: flex;
    }
    .barre-une{
        animation: crossburger 1s forwards;
    }
    .barre-deux{
        animation: crossburgertwo 1s forwards;
    }
    .barre-trois{
        animation: crossburgerthree 1s forwards;
    }
   
    //


.burger-menu{
    display: none;
    width: fit-content;
    
    @include mixins.breakpoint(900px){
        display: flex;
        @include mixins.displayFlex(column,center,flex-end,5px);
        position:sticky;
        top:0;

    };

    .barre{
        height: 5px;
        background-color: black;
        width: 25px;
    }
}

nav{
    position:sticky;
    top: 0;
    height: 10vh;
    @include mixins.displayFlex(row,space-between,center,0px);
    @include mixins.font(Avenir,20px);
    background-color: white;
    width: 100%;
    padding: 20px;
    z-index: 1;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 0, 0.37 );
    transition: ease-out 0.5s;
    

    
    
    ul{
        @include mixins.displayFlex(row,space-between,center,20px);

            @include mixins.breakpoint(900px){
                @include mixins.displayFlex(column,space-between,justify,20px);
                display: none;
                /*animation: burgerMenu 2s forwards;*/
            };
        list-style: none;
        a{
            text-decoration: none;
            color: black;
        }

        
    }
}


/*IMAGE HEADER*/
.header-backgroud{

    background-color: red;
    background-image: url(img/LPC-4.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
        .flou{
            @include mixins.displayFlex(column,center,center,0px);
            z-index: 0;
            height: 650px;
            width: 100%;
            background: rgba(0, 0, 0, 0.5 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 4px );
            justify-content: center;
                
            H1{
                @include mixins.font($font-title,45px,white);
                @include mixins.breakpoint(900px){
                    text-align: center;
                  }

            }
            p{
                text-align: center;
                @include mixins.font($font-para,20px,white);
                width:1100px;
                @include mixins.breakpoint(900px){
                  width: 300px;
                }
              
            }
        }
}

/*GALLERIE PHOTO*/

.gallerie{
    position:relative;
    display: grid;
    grid-template-columns:repeat(2,0.5fr);
    grid-template-rows: 0.5fr 0.5fr;
    margin: 0 auto;
    padding: 50px;
    @include mixins.breakpoint(900px){
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1Fr 1Fr 1fr;
        padding: 0px;
        margin-top: 30px;
        
    }

    .image{
       width: 635px;
       height: auto;
       @include mixins.breakpoint(900px){
        width: 345px;
        justify-self: center;
    
        
    }
       
       align-self: stretch;
        &-1{
            justify-self:end;
            grid-row:1 ;
            grid-column:1 ;
            @include mixins.breakpoint(900px){
                justify-self: center;
                
            }
          
            
            
        }
        &-2{
            justify-self:start;
            grid-row:1 ;
            grid-column:2 ;
            @include mixins.breakpoint(900px){
                grid-row: 2;
                grid-column: 1;
                justify-self: center;
                
            }
        }
        &-3{
            justify-self:end;
            grid-row:2 ;
            grid-column:1 ;
            @include mixins.breakpoint(900px){
                grid-row: 3;
                grid-column: 1;
                justify-self: center;
            }
        }
        &-4{
            justify-self:start;
            grid-row: 2;
            grid-column: 2;
            @include mixins.breakpoint(900px){
                grid-row:4 ;
                grid-column: 1;
                justify-self: center;
                
            }
        }
    }
}

/*PAGE CHRONOLOGIE*/
#histoire-section{
    @include mixins.displayFlex(column,center,center,20px);


    .chronologie{
      position: relative;
       display: grid;
       grid-template-columns: 1fr 0.5fr;
       grid-template-rows: 1fr 1fr 1fr;
       padding: 90px;
       background-color: whitesmoke;
       height: 500px;
       border-radius: 1.25rem;
       margin: 20px;
       gap : 0px 30px;
       box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5 );
    
       @include mixins.breakpoint(800px){
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
        width: fit-content;
        height: fit-content;
        padding: 20px;
       }
       h2{
        grid-column:1 ;
        grid-row: 1;
        @include mixins.font($font-title,25px);
        align-self: center;
        @include mixins.breakpoint(800px){
            grid-column:1 ;
            grid-row: 1;
            justify-self: center;
           }
        
       }
       span{
        grid-column:1 ;
        grid-row: 2;
        @include mixins.font($font-para,22px);
        @include mixins.breakpoint(800px){
            grid-column:1 ;
            grid-row: 2;
            justify-self: center;
            align-self: center;
        }
       
       }
       p{
        grid-column:1 ;
        grid-row: 3;
        @include mixins.font($font-para,20px);
        align-self: center;
        @include mixins.breakpoint(800px){
            grid-column:1 ;
            grid-row: 3;
            justify-self: center;
            margin: 5px;
        }
        
       }
       img{
        grid-column:2 ;
        grid-row: 1/3;
        width: 635px;
        height: auto;
        object-fit: contain;
        max-height: 1.5fr;
        @include mixins.breakpoint(800px){
            grid-column:1 ;
            grid-row: 4;
            width: 250px;
            justify-self: center;
            max-height: 0.5fr;
        }
       }
       .imagequimecasslescouilles{
        height: 390px;
       }
    }
  

    
}
/*PARTIE "ET MAINTENANT ?"*/

#now-section{

    @include mixins.displayFlex(column,center,center,10px);
    margin: 20px;
    padding: 30px;
    background-color: whitesmoke;
    border-radius: 1.25rem;
    h2{
        @include mixins.font($font-title,25px);
    }
    p{
        @include mixins.font($font-para,20px);
    }
}

footer{
    height: 15vh;
    background-color: whitesmoke;
    @include mixins.font($font-para,15px);
    padding: 20px;
    ul{
        list-style: none;
        a{
            text-decoration: none;
            color: black;
        }
        a:hover{
            color: blue;
            text-decoration: underline;
        }
        
    }

}